<ion-content [fullscreen]="true">

  <app-header></app-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="mini-avatar"></div>
          </ion-col>
          <ion-col >
            <ion-fab-button (click) ="playSound()">
              <ion-icon name="play-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col>
            <ion-fab-button (click) ="stopSound()">
              <ion-icon name="stop-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>