<ion-content [fullscreen]="true">

  <app-header></app-header>
  <ion-card>

    <ion-card-content>
      <ion-img [src]="image1"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-img [src]="image2"></ion-img>
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-content>
      <ion-img [src]="image2"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card class="super"></ion-card>

</ion-content>
